.slider {    
    position: relative;
    width: 100%;
    gap: var(--spacing-36);    
}
.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
    text-align: center;
}
.slider__cards{
    display: flex;  
    overflow-x: hidden;    
    justify-content: space-between;
    margin-top: var(--spacing-16);    
    width: 100%; 
    gap: var(--spacing-36);    
}
.slider__cards > div {
    flex: 0 0 auto;
    width: 100%;
}
.slider__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.arrows__left,
.arrows__right {
    font-size: 24px;
    padding: 10px 20px;   
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.arrows__left:hover,
.arrows__right:hover {
    background-color: #52132a;
}

.arrows__left {
    left: 0;
}
.arrows__right {
    right: 0;
}